@import '/reset/reset.styl'
@import 'fonts.styl'
body
	width 100%
	.container-video
		position fixed
		top: 0
		left 0
		width: 100vw;
		height: 100vh;
		&:before
			content ""
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			background rgba(17,17,17,.8)
			z-index 1
		&__video-bg
			position: absolute;
			right: 0;
			bottom: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			display: block;
	.main
		width 100%
		padding: 40px 60px;
		position relative
		z-index 1
		box-sizing border-box
		.logo
			width 240px
			margin-bottom 50px
			&__logo
				max-width 100%
		&__title
			font-size: 40px
			line-height 50px
			color #fff
			font-family: American
			margin-bottom 30px
		&__description
			font-size: 21px
			color #fff
			font-family: robothin
			width 480px
			line-height 30px
			margin-bottom 50px
		.link-git
			display inline-flex
			align-items center
			padding: 16px 25px 14px;
			text-decoration none
			font-family: robothin
			font-size: 15px
			text-transform: uppercase;
			letter-spacing 2px
			color #fff
			position: relative;
			border: none;
			border-radius: 6px;
			background: #45cba1;
			&:before
				content ""
				border 1px solid #fff
				position absolute
				box-sizing border-box
				top: 0
				left 0
				width 100%
				height 100%
				opacity 0
				border-radius: 6px;
				transform scale3d(0.6, 0.6, 1)
				transition transform 0.3s, opacity 0.3s
				transition-timing-function cubic-bezier(0.75, 0, 0.125, 1)
			&:hover
				&:before
					transform scale3d(1, 1, 1)
					opacity 1
			&__icon-git
				display block
				margin-left 10px
