.video__button
    &_record
        background-image: url("./img/record.png")
        top: -20px
        background-size: 25px

    &_stop-record
        background-image: url("./img/stop-record.png")
        top: 15px
        background-size: 25px

    &_remove
        background-image: url("./img/remove.png")
        top: 50px
        background-size: 25px

    &_send
        background-image: url("./img/send.png")
        top: 80px
        background-size: 25px
