.aside-right
    width: auto
    min-width: 50px
    position: absolute
    overflow: hidden
    height: calc(100% - 50px)
    right: 0
    bottom: 0
    background #f3f1ed
    transition right .5s , width .4s
    display: block

    &__content
        width calc(100% - 50px)
        margin-left auto
