.aside-right
    width: auto
    height: calc(100% - 50px)
    background: #f3f1ed
    //flex-basis: 250px;

    &__content
        width: calc(100% - 50px)
        margin-left: 50px
        position: relative
