.edit-area
    width: 95%
    border-radius: 5px
    right: 0
    left: 0
    margin: auto
    border: 2px solid #E0E0E0
    resize: none
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 10px
    height 44px !important
    color: #3d3c40
    appearance: none
    background-clip: padding-box
    font-size: 16px
    font-family: PT, Lato, appleLogo, sans-serif
    max-height: 200px

    &:focus
        outline: none
        border: 2px solid #fd5

