.aside-left
    width: 250px
    height: 100%
    background: #fff
    box-sizing: border-box
    @media handheld, only screen and (max-device-width:480px), all and (orientation:portrait)
      display: none

.users-list
    width: 100%
    height: calc(100% - 60px)
    overflow-y: scroll
    overflow-x: hidden