<!DOCTYPE html>
<html>
<head>
	<title>Passport-GitHub Example</title>
	<link rel="stylesheet" href="public/index.css">
</head>
<body>
	<div class="container-video">
		<video class="container-video__video-bg" autoplay loop muted poster="public/video/bg.jpg">
			<source src="public/video/bg.mp4"  type="video/mp4">
		</video>
	</div>
	<div class="main">
		<div class="main__wrapper">
			<div class="logo">
				<img class="logo__image" src="public/img/logo.svg">
			</div>
			<h1 class="main__title">Сообщество активных и <br> амбиционзных разработчиков </h1>
			<div class="main__description">
				У нас размещаются тысячи публичных сообществ, в которых разработчики со всего мира собираются, чтобы обговорить будущее программирования, создавать лучшие продукты.
			</div>

			<a class="link-git" href="/auth/github"> Авторизация с GitHub <img  class="link-git__icon-git" src="http://cdn01.gitter.im/_s/a2f674c/images/home/github.png"></a>
        </div>
    </div>
</body>
</html>
