.textarea
    width: 99%
    border-radius: 5px
    position: absolute
    bottom: 14px
    right: 0
    left: 0
    margin: auto
    border: 1px solid #E0E0E0
    resize: none
    display: block
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 10px
    height 44px !important
    color: #3d3c40
    appearance: none
    background-clip: padding-box
    font-size: 16px
    font-family: PT, Arial, sans-serif

    &:focus
        outline: none
        border: 1px solid #fd5

