.textarea
    width: 95%
    border-radius: 5px
    position: absolute
    bottom: 17px
    right: 0
    left: 0
    margin: auto
    border: 2px solid #E0E0E0
    resize: none
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    padding: 0 40px 0 12px
    color: #3d3c40
    appearance: none
    background-clip: padding-box
    font-size: 16px
    font-family: PT, Lato, appleLogo, sans-serif

    &:focus
        outline: none
        border: 2px solid #fd5

