.profile
    width: 500px
    height: 200px
    background: white
    border-radius: 5px

    &__info
        padding: 20px

    &__title
        font-weight: bold

    &__row
        font-size: 14px

