.profile
    width: 500px
    height: 200px
    background: white
    border-radius: 5px

    &__info
        padding: 20px

    &__title
        font-weight: bold

    &__row
        font-size: 14px
        margin: 5px 0
        
        &-title
            font-weight: bold

    &__buy
        display: block

    &__button
        display: inline-block
        width: 200px

    &__payment-progress
        color: red
        font-size: smaller
