.dropzone
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    padding: 20px;
    z-index: 1;


.dropzone__wrapper
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    color: grey;
    border: 4px dashed grey;


.dropzone__text
    top: 50%;
    position: relative;
    margin-top: -60px;
