.video__button
    &_record
        background-image: url("./img/record.png")
        top: -10px
        background-size: 25px

    &_stop-record
        background-image: url("./img/stop-record.png")
        top: 25px
        background-size: 25px

    &_remove
        background-image: url("./img/remove.png")
        top: 60px
        background-size: 25px

    &_send
        background-image: url("./img/send.png")
        top: 90px
        background-size: 25px

.video__out
    &::-webkit-media-controls-mute-button
        display: none;
