.chat-window

    &__avatar
        width: 50px
        height: 50px
        border-radius: 50%
        border: 1px solid #fd5

    &__content

        &-item
            width: 100%
            display: flex
            padding: 15px 20px
            box-sizing: border-box

            &:hover
                .chat-window__content-pic
                    display: inline-block

            &_editing
                .chat-window__content-sending
                    display: none

        &-avatar
            position: relative
            margin-right: 10px

        &-name
            font-size: 16px
            height: 21px
            font-family: PTS
            color: #2d2d2d
            margin-bottom: 5px
            position relative
            display inline-block

        &-message
            width: 100%
            font-size: 14px
            line-height: 20px
            font-family: PT
            color: #3d3c40

        &-date
            text-indent: 10px
            padding-left: 5px
            font-size: 13px
            color: #999
            font-family: robothin

        &-sending
            padding-top: 5px

        &-pic
            position relative
            width: 14px;
            height: 19px;
            right: -7px;
            cursor pointer
            top: 2px;
            display none
            vertical-align: top
            background-size: contain
            background-repeat: no-repeat

            &_edit
                background-image: url("img/marker.svg")

                &:hover
                    background-image: url("img/marker-active.svg")

            &_save
                background-image: url("img/save.png")

                &:hover
                    background-image: url("img/save-active.png")

            &_replay
                background-image: url("img/replay.png")

                &:hover
                    background-image: url("img/replay-active.png")
