
@font-face
    font-family: American
    src: url("fonts/AmericanSans-Light.eot")
    src: url("fonts/AmericanSans-Light.ttf")
    src: url("fonts/AmericanSans-Light.svg")
    src: url("fonts/AmericanSans-Light.woff")
    font-weight: normal
    font-style: normal

@font-face
    font-family: PT
    src: url("fonts/PTS55F.ttf")
    src: url("fonts/PTS55F.eot") format('opentype')
    src: ("fonts/PTS55F.eot?#iefix") format('opentype')
    src: url("fonts/PTS55F.svg")
    src: url("fonts/PTS55F.woff")
    font-weight: 400
    font-style: normal
@font-face
    font-family: PTS
    src: url("fonts/PTS55F.eot") format('opentype')
    src: local("fonts/PTS75F.eot?#iefix") format('opentype')
    src: url("fonts/PTS75F.ttf")
    src: url("fonts/PTS75F.svg")
    src: url("fonts/PTS75F.woff")
    font-weight: normal
    font-style: normal
    

@font-face {
    font-family: "robothin";
    src: url('fonts/robothin.eot?#iefix') format('embedded-opentype')
    src:url('fonts/robothin.eot');
    src:url('fonts/robothin.woff');
    src:url('fonts/robothin.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face
    font-family: Roboto-Regular
    src: url('fonts/Roboto-Regular.eot')
    src: url('fonts/Roboto-Regular.woff')
    src: url('fonts/Roboto-Regular.ttf')
    font-weight: normal
    font-style: normal
@font-face
    font-family: robomed
    src: url('fonts/robomed.ttf')
    font-weight: normal
    font-style: normal


