html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: American;
  src: url("fonts/AmericanSans-Light.eot");
  src: url("fonts/AmericanSans-Light.ttf");
  src: url("fonts/AmericanSans-Light.svg");
  src: url("fonts/AmericanSans-Light.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PT;
  src: url("fonts/PTS55F.ttf");
  src: url("fonts/PTS55F.eot") format('opentype');
  src: "fonts/PTS55F.eot?#iefix" format('opentype');
  src: url("fonts/PTS55F.svg");
  src: url("fonts/PTS55F.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTS;
  src: url("fonts/PTS55F.eot") format('opentype');
  src: local("fonts/PTS75F.eot?#iefix") format('opentype');
  src: url("fonts/PTS75F.ttf");
  src: url("fonts/PTS75F.svg");
  src: url("fonts/PTS75F.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robothin";
  src: url("fonts/robothin.eot?#iefix") format('embedded-opentype');
  src: url("fonts/robothin.eot");
  src: url("fonts/robothin.woff");
  src: url("fonts/robothin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.woff");
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robomed;
  src: url("fonts/robomed.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
}
body .container-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
body .container-video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17,17,17,0.8);
  z-index: 1;
}
body .container-video__video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
body .main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
body .main .main__wrapper {
  margin-left: 6%;
}
@media screen and (max-width: 1024px) {
  body .main {
    justify-content: center;
  }
  body .main .main__wrapper {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  body .main .main__wrapper {
    padding: 20px;
  }
}
body .main .logo {
  width: 500px;
  margin-bottom: 50px;
}
body .main .logo__logo {
  max-width: 100%;
}
@media screen and (max-width: 1920px) {
  body .main .logo {
    width: 440px;
  }
}
@media screen and (max-width: 1600px) {
  body .main .logo {
    width: 380px;
  }
}
@media screen and (max-width: 1024px) {
  body .main .logo {
    margin: 0 auto 40px;
    width: 360px;
  }
}
@media screen and (max-width: 640px) {
  body .main .logo {
    width: 280px;
    margin-bottom: 20px;
  }
}
body .main__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-family: American;
  margin-bottom: 30px;
}
@media screen and (max-width: 1920px) {
  body .main__title {
    font-size: 55px;
    line-height: 65px;
  }
}
@media screen and (max-width: 1600px) {
  body .main__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  body .main__title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  body .main__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }
}
body .main__description {
  font-size: 34px;
  color: #fff;
  font-family: robothin;
  width: 780px;
  line-height: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1920px) {
  body .main__description {
    width: 740px;
    font-size: 26px;
    line-height: 36px;
  }
}
@media screen and (max-width: 1600px) {
  body .main__description {
    width: 600px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1024px) {
  body .main__description {
    width: 520px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 640px) {
  body .main__description {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }
}
body .main .link-git {
  display: inline-flex;
  align-items: center;
  padding: 25px 25px;
  text-decoration: none;
  font-family: robothin;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  border: none;
  border-radius: 6px;
  background: #45cba1;
}
@media screen and (max-width: 1920px) {
  body .main .link-git {
    padding: 18px 18px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1600px) {
  body .main .link-git {
    padding: 13px 15px;
    font-size: 16px;
  }
}
body .main .link-git:before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 6px;
  transform: scale3d(0.6, 0.6, 1);
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
body .main .link-git:hover:before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
body .main .link-git__icon-git {
  display: block;
  margin-left: 10px;
}
