html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: American;
  src: url("fonts/AmericanSans-Light.eot");
  src: url("fonts/AmericanSans-Light.ttf");
  src: url("fonts/AmericanSans-Light.svg");
  src: url("fonts/AmericanSans-Light.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PT;
  src: url("fonts/PTS55F.ttf");
  src: url("fonts/PTS55F.eot") format('opentype');
  src: "fonts/PTS55F.eot?#iefix" format('opentype');
  src: url("fonts/PTS55F.svg");
  src: url("fonts/PTS55F.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PTS;
  src: url("fonts/PTS55F.eot") format('opentype');
  src: local("fonts/PTS75F.eot?#iefix") format('opentype');
  src: url("fonts/PTS75F.ttf");
  src: url("fonts/PTS75F.svg");
  src: url("fonts/PTS75F.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robothin";
  src: url("fonts/robothin.eot?#iefix") format('embedded-opentype');
  src: url("fonts/robothin.eot");
  src: url("fonts/robothin.woff");
  src: url("fonts/robothin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url("fonts/Roboto-Regular.eot");
  src: url("fonts/Roboto-Regular.woff");
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robomed;
  src: url("fonts/robomed.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
}
body .container-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
body .container-video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(17,17,17,0.8);
  z-index: 1;
}
body .container-video__video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
body .main {
  width: 50%;
  height: 50%;
  min-width: 700px;
  max-width: 900px;
  min-height: 700px;
  max-height: 900px;
  overflow: auto;
  margin: auto;
  padding: 40px 60px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: transform ease-in-out 0.9s, opacity ease-in-out 0.9s;
  -moz-transition: transform ease-in-out 0.9s, opacity ease-in-out 0.9s;
  -o-transition: transform ease-in-out 0.9s, opacity ease-in-out 0.9s;
  transition: transform ease-in-out 0.9s, opacity ease-in-out 0.9s;
}
body .main__description {
  font-size: 21px;
  color: #fff;
  font-family: robothin;
  width: 480px;
  line-height: 30px;
  margin-bottom: 50px;
}
body .main .logo {
  width: 240px;
  margin-bottom: 50px;
}
body .main .logo__logo {
  max-width: 100%;
}
body .main__title {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-family: American;
  margin-bottom: 30px;
}
body .main .link-git {
  display: inline-flex;
  align-items: center;
  padding: 16px 25px 14px;
  text-decoration: none;
  font-family: robothin;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  border: none;
  border-radius: 6px;
  background: #45cba1;
}
body .main .link-git:before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 6px;
  transform: scale3d(0.6, 0.6, 1);
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
body .main .link-git:hover:before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
body .main .link-git__icon-git {
  display: block;
  margin-left: 10px;
}
@media (max-width: 700px), screen and (max-height: 700px) {
  body .main {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
}
@media (max-width: 550px), screen and (max-height: 550px) {
  body .main {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
    min-width: 100px;
    min-height: 100px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1px 1px;
  }
  body .main__description {
    width: 99%;
    max-width: 550px;
  }
}
