#log {
    width: 590px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Palatino Linotype';
    overflow: auto;
}
#input {
    width: 550px;
}
#send {
    width: 50px;
}

.in {
    color: rgb(0, 0, 0);
}
.out {
    color: rgb(0, 0, 0);
}
.time {
    color: rgb(144, 144, 144);
    font: 10pt 'Courier New';
}
.system {
    color: rgb(165, 42, 42);
}
.user {
    color: rgb(25, 25, 112);
}