.video
    background: rgba(0,0,0,0.2)
    color: black
    position: relative
    z-index: 1
    box-shadow: 2px 2px 2px black
    border: 1px solid transparent
    overflow-y: auto
    max-height: 100%

.video__out
    background: black
    width: 100%

.video__call
    margin: 20px auto
    display: block