.video
    background: rgba(0,0,0,0.2)
    color: black
    position: relative
    z-index: 1
    box-shadow: 2px 2px 2px black
    border: 1px solid transparent
    overflow-y: auto
    overflow-x: hidden
    max-height: 50%
    max-width: 200px

    &__out
        background: black
        width: 100%



    &__call
        top: 0
        background: url("phone.svg") no-repeat center
        background-size: 20px

    &__stop
        top: 50px
        background url("close.svg") no-repeat center
        background-size: 20px

    .video_button
        width: 50px
        height: 50px
        display: block
        left: 0
        cursor: pointer
        position: absolute
        border-bottom 1px solid #f8f8f8
