.video
    background: rgba(0,0,0,0.2)
    color: black
    position: relative
    max-height: calc(50% - 20px)
    width: 250px
    margin-bottom: 20px
    min-height: 100px

    &__out
        width: 100%

    &__button
        background-size: 30px
        background-repeat: no-repeat
        background-position: center
        background-color: transparent
        width: 50px
        height: 50px
        display: block
        left: -50px
        cursor: pointer
        position: absolute
        border: none
        outline: none;

        &[disabled]
            opacity: 0.5
            cursor: default

        &_call
            background-image: url("./img/call.png")
            top: 0

        &_stop
            background-image: url("./img/stop.png")
            top: 40px
